/*
flip card
*/

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 5px;
}

.flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transition: 0.3s;
  position: relative;
    z-index: 1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 2;
}

.flip-card2 {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transition: 0.3s;
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card2:hover .flip-card-inner2 {
  position: relative;
  transform: rotateY(180deg);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.flip-card2:hover {
  z-index: 9;
  position: relative;
}

.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front2 {
  z-index: 1;
}

.flip-card-back2 {
  transform: rotateY(180deg);
  z-index:999;
}

.flip-card3 {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transition: 0.3s;
}

.flip-card-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card3:hover .flip-card-inner3 {
  z-index: 10;
  position: relative;
  transform: rotateY(180deg);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flip-card-front3, .flip-card-back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back3 {
  transform: rotateY(180deg);
}

.flip-card4 {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transition: 0.3s;
}

.flip-card-inner4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card4:hover .flip-card-inner4 {
  z-index: 10;
  position: relative;
  transform: rotateY(180deg);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flip-card-front4, .flip-card-back4 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back4 {
  transform: rotateY(180deg);
}



.flip-card5 {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transition: 0.3s;
}

.flip-card-inner5 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card5:hover .flip-card-inner5 {
  z-index: 10;
  position: relative;
  transform: rotateY(180deg);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flip-card-front5, .flip-card-back5 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back5 {
  transform: rotateY(180deg);
}


/* image wrapper */
.images_wrapper {
  position: relative;
  width: 300px;
  display: inline-block;
}
img {
max-width: 100%;
height: auto;
}

.images_wrapper i {
  position: absolute;
  color: red;
  left: 0;
  top: 0;
}