.carousel-container {
  display: flex;
  overflow: hidden;
  width: 300px; /* Set your desired width */
  position: relative;
}

.carousel-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.carousel-slide img {
  max-width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
