.card {
    position: relative;
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.8s;
}

.card:hover .image {
    opacity: 1;
}

.text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    transition: opacity 0.1s;
    z-index: 0;
}

.card:hover .text {
    opacity: 0;
}

.social-icons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 0;
}

.social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: white;
}


.content {
display:flex;
flex-wrap: wrap;
justify-content: center;
margin-right: 15px;
margin-left: 15px;
}

.row {
margin-right: 15px;
margin-left: 15px;
}

/* #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
} */